<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>联粤</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/datapicker/datepicker3.css}" rel="stylesheet"/>

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>统计分析</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			          	<li>
							<strong><a href="statisticsManage_0_0_0">营销统计</a></strong>
			          	</li>
						<li class="active">
							<strong>渠道详情</strong>
						</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
		  	
        	<div class="wrapper wrapper-content animated fadeInRight">
            	<div class="row">
	            	<div class="col-lg-12">
		            	<div class="ibox float-e-margins">
		                    <div class="ibox-title">
		                        <h5>搜索&amp;操作</h5>
		                        <div class="ibox-tools">
		                            <a class="collapse-link">
		                                <i class="fa fa-chevron-up"></i>
		                            </a>
		                        </div>
		                    </div>
		                    <div class="ibox-content" style="display: block;">
		                    	<form action="channelStatisticsDetail">
		                        <div class="row">
	                            	<div class="col-sm-3 m-b-xs">

										<div class="form-group" id="data_1">
											<div class="input-group date">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
												<input name="month" id="month" type="text" class="form-control" th:value="${month}"/>
											</div>
										</div>

	                                </div>
	                                <div class="col-sm-2 m-b-xs">
										<input type="hidden" id="appId" name="appId" th:value="${appId}"/>
	                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
	                                </div>
	                            </div>
	                             </form>
		                   </div>
	                	</div>
                	</div>
                	<div class="col-lg-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>数据列表</h5>
	                            <div class="ibox-tools">
	                                <a class="collapse-link">
	                                    <i class="fa fa-chevron-up"></i>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="ibox-content">
	                            <div class="table-responsive">
	                                <table class="table table-hover" data-page-size="10">
	                                    <thead>
		                                    <tr>
		                                    	<th width="15%">日期</th>
												<th width="15%">渠道</th>
		                                        <th width="15%">点击数</th>
		                                        <th width="15%">排重点击</th>
		                                        <th width="15%">激活总数</th>
												<th width="15%">实际通知数</th>
		                                        <th width="15%">转华率</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="data: ${dataList}">
												<td >
													<p style="white-space:pre-line;" th:text="${data.timeDay}"></p>
												</td>
												<td >
													<p style="white-space:pre-line;" th:text="${data.channelName}"></p>
												</td>
												<td>
													<p style="white-space:pre-line;" th:text="${data.clickNum}"></p>
												</td>
												<td>
													<p style="white-space:pre-line;" th:text="${data.pcClickNum}"></p>
												</td>
												<td>
													<p style="white-space:pre-line;" th:text="${data.activationNum}"></p>
												</td>
												<td>
													<p style="white-space:pre-line;" th:text="${data.noticeNum}"></p>
												</td>
												<td>
													<p style="white-space:pre-line;" th:text="${data.conversion}"></p>
												</td>
											</tr>
	                                    </tbody>
	                                </table>
			                	</div>
	                        </div>
	           			</div>
                	</div>
            	</div>
        	</div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
	<script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>

	<script th:inline="javascript">
        $('#data_1 .input-group.date').datepicker({
            format: "yyyy-mm",
            maxViewMode:1,
            startView: 1,
            minViewMode: 1,
            forceParse: false,
            autoclose: true,
            language: 'zh'

        });

    </script>

</body>

</html>
